*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@media (max-width: 600px){
    section{
        width: 100%;
        height: 100%;
    }
   section nav{
       flex-direction: column;
       margin-top: 1px;
    }
    main{
        height:100% ;
        padding: 1rem;
    }
    .more p{
        width: 100%;
        height: 2.7rem;
       padding: 10px;
    }
    .About ,.we{
        display: none;

    }
    .try{
        width: 25%;

    }
    form , .logo{
        width: 80vw;
        height: 35vh;
    }
    aside{
        flex-direction: column;
        gap: 0;
    }
    aside div{
        width: 80%;
        height: 100%;
        border: none;
       padding: 5px;
    }
    .aside div p{
        margin-bottom: 0;
        margin-top: 0;
    }
    .our{font-size: 0;}
    footer{
        flex-direction: column;
        width: 95%;
    }
    footer div{
        width: 100%;
        height: 100%;
        padding: 5px;
        margin-top: 2rem;
    }
   
    
    
    





}

